<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sighup page</title>
</head>
<body>
    <h1>SignUp</h1>
    <div>
        <form action="/user/signup" method="POST">
            <label>Name</label>
            <input type="text" name="name" placeholder="name">
            <br/>
            <label>Email</label>
            <input type="email" name="email" placeholder="email">
            <br/>
            <label>Password</label>
            <input type="password" name="password" placeholder="password">
            <br/>
            <button type="submit">SignUp</button>
        </form>
    </div>
</body>
</html>